/* block */
.block div {
    display: block;
    width: 100px;
    height: 150px;
    margin: 10px;   /* margin : 여백 */
}

/* inline */
.inline span {
    display: block; /*inline 속성을 block으로 변경 */
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: orange;
}

/* inline block */
.inline-block div {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: yellow;
}

/* none */ 
.none div {
    background-color: pink;
    border: 2px solid black;
    margin: 10px;
}
.none .hide {
    display: none;
}